<!-- Mobile Toggle Button -->
<button class="sidebar-toggle" [class.active]="isSidebarOpen" (click)="toggleSidebar()" *ngIf="isMobileView">
    <i class="fas" [class.fa-bars]="!isSidebarOpen" [class.fa-times]="isSidebarOpen"></i>
</button>



<!-- Sidebar -->
<div class="sidebar" [class.open]="isSidebarOpen">
    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" id="home-link" (click)="onLinkClicked('Page1')">
            Main Content
        </a>
        <a class="sidebar-nav-item" id="payment-info-link" (click)="onLinkClicked('Page2')">
         My Courses
        </a>
        <a class="sidebar-nav-item" id="my-courses-link" (click)="onLinkClicked('Page3')">
         Payment Info
        </a>
        <a class="sidebar-nav-item" id="quizzes-link" (click)="onLinkClicked('Page4')">
             Quizzies
        </a>
    </nav>
</div>

<!-- Overlay for mobile -->
<div class="sidebar-overlay" [class.active]="isSidebarOpen" *ngIf="isMobileView" (click)="toggleSidebar()"></div>


