<section class="tools-section section-padding">
    <div class="container tools-grid">
        <div class="tools-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;"><span style="color: var(--estigo-green);">Tools</span> For Teachers <br> And Learners</h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">
                Estigo offers a range of tools that support<br> both teaching and learning. Designed to make<br> the classroom experience smoother, more<br> interactive, and easier to manage.
                </p>
                
        </div>
        <div class="tools-image">
            <img src="laptop.svg" alt="Tools for Teachers and Learners">
        </div>
    </div>
</section>