<div class="roadmap-selection-container">
  <button 
    class="roadmap-selector-button" 
    (click)="showRoadmap('EST')"
    [class.active]="selectedRoadmap === 'EST'">
    <img src="EST.png" alt="EST Logo">
  </button>
  <button 
    class="roadmap-selector-button" 
    (click)="showRoadmap('IG')"
    [class.active]="selectedRoadmap === 'IG'">
    <img src="IGCSE.png" alt="IGCSE Logo">
  </button>
</div>

<div *ngIf="selectedRoadmap" class="roadmap-container">
  <h2>{{ currentRoadmapTitle }}</h2>

  <div class="roadmap-steps">
    <div class="step" *ngFor="let step of currentSteps; let i = index">
      <div class="circle">{{ i + 1 }}</div>
      <div class="content">
        <h3>{{ step.title }}</h3>
        <p>{{ step.desc }}</p>
      </div>
    </div>
  </div>
</div>