<section class="assessments-section section-padding">
    <div class="container assessments-grid">
        <div class="assessments-image">
            <img src="test.svg" alt="Assessments, Quizzes, Tests">
        </div>
        <div class="assessments-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;">Quizzes, <br><span style="color: var(--estigo-green);">Scores</span>, Feedback</h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">
                Quizzes provide valuable practice,<br>
Scores track your progress,<br>
and feedback helps guide<br>
your learning improvement.

                </p>
                
        </div>
    </div>
</section>