<section class="what-is-estigo-section section-padding">
    <div class="container">
        <h2 class="section-title"><span style="color:#2F327D ;">What is </span><span style="color:var(--estigo-green) ;">ESTIGO?</span></h2>
        <p class="section-subtitle">Estigo helps educators and students stay connected, making learning more organized, engaging, and easy to follow from anywhere.</p>

        <div class="estigo-cards">
            <div class="estigo-card">
                <img src="teacher.svg" alt="For Instructors">
                <div class="card-content">
                    <h3>FOR INSTRUCTORS</h3>
                    
                </div>
            </div>
            <div class="estigo-card">
                <img src="Learning-bro.svg" alt="For Students">
                <div class="card-content">
                    <h3>FOR STUDENTS</h3>
                
                </div>
            </div>
        </div>
    </div>
</section>