<section class="features-section section-padding">
    <div class="container">
        <h2 class="section-title"><span style="color: #2F327D;">All-In-One </span> <span style="color: var(--estigo-green);">Learning Platform</span></h2>
        <p class="section-subtitle">ESTIGO is a powerful online platform that brings together all the<br> essential tools needed to manage a successful educational<br> experience, from classrooms to administration.</p>
        <div class="features-grid">
            <div class="feature-card">
                <i class="fas fa-book"></i>
                <h3>Interactive Courses <br> & Learning</h3>
                <p>Engage with dynamic lessons designed to enhance your skills. Access interactive content that makes learning easy and effective.</p>
                
            </div>
            <div class="feature-card">
                <i class="fas fa-robot"></i>
                <h3>AI-Powered Insights &<br>Performance Tracking </h3>
                <p>Get smart feedback based on your learning patterns.
                    Know what to improve, what to focus on, and stay on track toward success.</p>
            </div>
            <div class="feature-card">
                <i class="fas fa-user-friends"></i>
                <h3>Parent Tracking</h3>
                <p>Stay involved in your child's education with real-time updates on their progress, attendance, and activities — all in one place.</p>
            </div>
        </div>
    </div>
</section>