<section class="instructors-section section-padding">
    <div class="container">
        <h2 class="section-title" style="text-align: left; color: #2F327D;">Meet our <span style="color:var(--estigo-green);">Instructors</span></h2>
        <div class="instructors-carousel">
            <div class="instructor-card">
                <img src="f.jpg" alt="John Smith">
                <h3 class="instructor-name">Dr Mahmoud Younis</h3>
                <p class="instructor-expertise">Chemistry</p>
            </div>
            <div class="instructor-card">
                <img src="b.jpeg" alt="Sarah Johnson">
                <h3 class="instructor-name">Mr Mostafa Elkashef</h3>
                <p class="instructor-expertise">Biology</p>
            </div>
            <div class="instructor-card">
                <img src="g.jpg" alt="Michael Brown">
                <h3 class="instructor-name">Mrs Yasmeen</h3>
                <p class="instructor-expertise">English</p>
            </div>
            <div class="instructor-card">
                <img src="ahmed.jpg" alt="Emily Davis">
                <h3 class="instructor-name">Mr Ahmed Hassan</h3>
                <p class="instructor-expertise">Mathematics</p>
            </div>
        </div>
    </div>
</section>