.main-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--estigo-green);
    color: white;
}

